<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/some.css' %}" />
    <link rel="stylesheet" href="{% static 'course/css/styles.css' %}" />
    <img src="{% static 'fees/images/preesha1.jpg' %}" alt="Preesha" />
    <img src="{% get_static_prefix %}fees/images/preesha1.jpg" alt="Preesha" />
    <form action="">
      <input type="button" value="Click me" onclick="disp()" />
    <script src="{% static 'course/js/all.js' %}" ></script>
    <title>FEES</title>
  </head>
  <body>
	<h1>django fees</h1>
  </body>
</html>